
a:hover{
  cursor: pointer;
  text-decoration: none;
}

body{
  font-family:  "Palatino Linotype", garamond, serif;
  font-size: 16px;
  background-color: white; /* #fcfcfc */
}


.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 0px;
  font-size: 20px;
  line-height: 20px;
}

.navbar-brand img {
  width: 36px;
  height: 28px;
  display: inline-block;
  margin-top: -6px;
}

.articles-info {
  padding: 15px 5px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(210,210,210,0.8);
  text-transform: capitalize;
}

.article-list {
  padding: 15px 5px;
  font-family: Apple SD Gothic Neo,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.article-list-date {
  font-size: 11px;
  color: #868e96;
  text-transform: uppercase;
}

.article-list-title {
  margin-bottom: 4px;
  font-size: 21px;
  line-height: 1.6;
  font-weight: 400;
}

.article-list-desc {
  color: #343a40;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.article-list:hover {
  background-color: #f1f3f5;
  border-color: transparent;
  border-radius: 10px;
}

