text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 10px;
  fill: rgba(100,100,100, 0.85);
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.day-cell {
  border: 1px solid gray;
}
rect.day-cell:hover {
  stroke: #555555;
  stroke-width: 1px;
}
.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  text-align: center;
}
.day-cell-tooltip > span {
  font-family: Helvetica, arial, 'Open Sans', sans-serif
}
.calendar-heatmap {
  box-sizing: initial;
  border: 1px solid rgba(200,200,200,0.9);
  padding-right: 10px !important;
}

#calendar-viz {
  position: relative;
}



a:hover{
  cursor: pointer;
  text-decoration: none;
}

body{
  font-family:  "Palatino Linotype", garamond, serif; /*georgia*/
  font-size: 16px;
  background-color: white; /* #fcfcfc */
}


.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 0px;
  font-size: 20px;
  line-height: 20px;
}

.navbar-brand img {
  width: 36px;
  height: 28px;
  display: inline-block;
  margin-top: -6px;
}

.content {
  margin-top: 10px;
}

#enclose-div {
  width: 768px;
  border: 1px solid rgba(200,200,200,0.9);
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 40px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.timer-div {
  /*border: 1px solid rgba(200,200,200,0.9);*/
  min-height: 260px;
  
  padding: 5px;
}

.dis-div {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  min-height: 25px;
}

#prev-div {
  margin-top: 50px;
}

#total-div {
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 30px;
}

.hidden {
  visibility: hidden;
}

.disabled {
  /*pointer-events: none;
  cursor: default;
  opacity: 0.6;*/
  /*visibility: hidden;*/
  display: none;
}

#total-edit-button {
  font-size: 11px;
  margin-top: 20px;
}

#area-editland select {
  font-size: 12px !important;
}

#commit-button {
  margin-top: 20px;
  width: 62px;
}

#datepicker {
  width: 120px;
  font-size: 14px;
}

#alert-bottom {
  font-size: 13px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0 !important;
  width: 100%;
  height: 52px;
  text-align: center;
  z-index: 999;
}

#year-total {
  margin-bottom: 5px;
}

#year-total span {
  font-size: 14px;
  position: relative;
  top: 2px;
  letter-spacing: 0.3px;
}

#year-total button {
  font-size: 10px;
  padding: 2px;
  margin-right: 5px;
}



.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 38.4px solid #2c3e50;
  margin: 64px auto 32px auto;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  left: 6.4px;
}
.play:before {
  content: '';
  position: absolute;
  top: -48px;
  left: -73.6px;
  bottom: -48px;
  right: -22.4px;
  border-radius: 50%;
  border: 6.4px solid #2c3e50;
  z-index: 2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.play:after {
  content: '';
  opacity: 0;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
}
.play:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.play.active {
  border-color: transparent;
}
.play.active:after {
  content: '';
  opacity: 1;
  width: 42px;
  height: 51.2px;
  background: #2c3e50;
  position: absolute;
  right: 3.2px;
  top: -25.6px;
  border-left: 12.8px solid #2c3e50;
  box-shadow: inset 19.2px 0 0 0 #f9f9f9;
}
