#display-articles {
	
	
}

/* Each article in a div */
.each-article-list-div {
	min-height: 50px;
	margin-top: 20px;
}

.each-article-title{
	display: inline-block;
	font-family: Helvetica;
	font-size: 16px;
	opacity: 0.8;
	padding-bottom: 1px;
	
	cursor: pointer;
}

.each-article-sub-lining {
	font-size: 12px;
	font-style: italic;
}

.each-article-kind {
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
}

.each-article-description {
	font-size: 14px;
	font-style: italic;
}

#check-avail {
	margin-top: 12px;
}

#check-avail a {
	font-size: 12px;
	font-family: serif;
	text-decoration: underline;
}

#check-avail div {
	display: inline-block;
	margin-left: 15px;
	font-size: 11px;
}