<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/static/blog/blog_home.css"/>
  <title>CSLab {{kind}}</title>
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="/static/logo.png">
			  CS_Lab
			</a>
		</div>

		<div class="navbar-right" style="padding: 15px 0px;">
		  {% if logout_url %} <a href="{{logout_url}}">Logout</a> {% endif %}
		</div>
	</div>
  </div>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-push-2"> 
  <div class="articles-info">
    {{kind}} Articles
  </div>
  {% for a in articles %}
  	<div class="article-list">
  	<a href=/{{kind}}/{{a.link}}>
  	  <div class="article-list-date">
  	    {{a.date}}
  	   </div>

  	   <div class="article-list-title">
  	     {{a.title}}
  	   </div>

  	   <div class="article-list-desc">
  	   	 {{a.description}}
  	   </div>
  	</a>   
  	</div>	
  {% endfor %}
</div>
</div>
</div>  

</body>
</html>
