<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/static/blog/blog_style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/write/github-markdown.css"/>
  <link rel="stylesheet" type="text/css" href="/static/write/katex/katex.min.css"/>
  <!--
  <script type="text/javascript">
  (function () {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
        + '.po.st/static/v4/post-widget.js#publisherKey=f91rrtnjrrp4aj357mkk';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
   })();
  </script>
  -->
<title>CSLab {{kind}}</title>
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="/static/logo.png">
			  CS_Lab
			</a>		
		</div>


    <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        {% if logout_url %}
        <li><a href="/private">Reminders</a></li>
        <li><a href="/write">Write</a></li>
        <li><a href="{{logout_url}}">Logout</a></li>
        {% endif %}
    </ul>     

        
	</div>
  </div>

<div class="container">
<div class="row">

<div class="col-md-10 col-md-push-1"> 
  
 <!-- <div id="banner">
   <img src="static/blog/machine-banner.png"> 
  </div> -->


  <div class="markdown-body">
    <div class="row">
    <div class="col-md-9">

    <div class="content-heading">
     {{title}}
    </div>

    <div class="content-details">
          Published on {{date}}
    </div>  
    
    <div id="content-beauty" class="content-body-body">
       {{ content }}
    </div>   

        <!-- <div class="discuss">
        <h2>Discuss</h2>
        <div id="disqus_thread"></div>
          <script>
          /**
          * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
          */
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//cslaborg.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div> -->
	</div>

	</div>  
  </div>
</div>
</div>
</div>

<script type="text/javascript" src="/static/write/marked.js"></script>
<script type="text/javascript" src="/static/write/katex/katex.min.js"></script>
<script type="text/javascript" src="/static/write/katex/auto-render.min.js"></script>

<script type="text/javascript">
    // Format the content: convert markdown to html
    var content_area = document.getElementById('content-beauty')
    var ugly = content_area.innerHTML.trim(); 
    // console.log(ugly)
    ugly = ugly.replace(/&lt;/g,'<').replace(/&gt;/g,'>');
    var beauty = window.marked(ugly);
    content_area.innerHTML = beauty;
    window.renderMathInElement(content_area);
</script>


<!-- <script id="dsq-count-scr" src="//cslaborg.disqus.com/count.js" async></script> -->

</body>
</html>
