<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/static/blog/blog_style.css"/>
  <title>Page Error</title>
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="/static/logo.png">
			  CS_Lab
			</a>
			
		</div>
		

	</div>
  </div>

<div class="container">
<div class="row">

<div class="col-md-10 col-md-push-1 content"> 
  
 <!-- <div id="banner">
   <img src="static/blog/machine-banner.png"> 
  </div> -->

  <div class="content-heading">
	Sorry! The page dosn't exist
  </div>	
  
</div>
</div>
</div>

</body>
</html>
