
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>CS Lab Write</title>

  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/static/blog/blog_style.css"/>
  <link rel="stylesheet" type="text/css" href="/static/write/writer_style.css"/>
  <script src="static/jquery.js"></script>
  <script src="static/write/writer.js"></script>
  
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="/static/logo.png">
			  CS_Lab
			</a>
		</div>
		
		<div class="navbar-right" style="padding: 15px 0px;">
		  <a href="{{logout_url}}">Logout</a> 
		</div>

	</div>
  </div>

<div class="container">
<div class="row">

<div class="col-md-8 col-md-push-2 content" id="all-prev-articles"> 
  
  <h4>New Article</h4>
  <form class="form-inline" id="new-article-form">
	  <label class="sr-only" for="inlineFormInputGroup">Link</label>
	  <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="margin-right:10px">
	    <div class="input-group-addon">/</div>
	    <input type="text" class="form-control" id="choose-article-link" placeholder="article-link">
	  </div>

	  <span class="mr-sm-2" for="inlineFormCustomSelect">Kind: </span>
	  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="choose-article-kind" style="margin-right:15px">
	    <option value="blog" selected>Blog</option>
	    <option value="project">Project</option>
	    <option value="private">Private</option>
	  </select>

	  <button type="submit" class="btn-xs btn-primary">Submit</button>

  </form>	

  <div id="check-avail">
   <a>check availability</a>
   <div></div>
  </div>

  <!-- List of all articles. Use AJAX to retrieve from the datastore and render in the client side -->
  <h4 style="margin-top:40px">Previous Articles</h4>
  <div id="display-articles">

  </div>

</div>
</div>
</div>

</body>
</html>

