
<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>CS Lab Write</title>

  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/static/blog/blog_style.css"/>
  <script src="static/write/writer.js"></script>
  
</head>

<body>
  <div class="navbar navbar-default">
	<div class="container">	
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
			  <img alt="Brand" src="/static/logo.png">
			  CS_Lab
			</a>
		</div>
		
		<div class="navbar-right" style="padding: 15px 0px;">
		  <a href="{{logout_url}}">Logout</a> 
		</div>

	</div>
  </div>

<div class="container">
<div class="row">

<div class="col-md-8 col-md-push-2" id="all-prev-articles"> 
  
  <!-- List of all articles. Use AJAX to retrieve from the datastore and render in the client side -->
  


</div>
</div>
</div>

</body>
</html>

